/*grid-system*/
@media screen and (max-width: 576px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;

    }

    .col-7 {
        width: 58.33%;

    }

    .col-8 {
        width: 66.66%;

    }

    .col-9 {
        width: 75%;

    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {

        width: 91.66%;
    }

    .col-12 {
        width: 100%;

    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;

    }

    .col-sm-7 {
        width: 58.33%;

    }

    .col-sm-8 {
        width: 66.66%;

    }

    .col-sm-9 {
        width: 75%;

    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {

        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;

    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;

    }

    .col-md-7 {
        width: 58.33%;

    }

    .col-md-8 {
        width: 66.66%;

    }

    .col-md-9 {
        width: 75%;

    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {

        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;

    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;

    }

    .col-lg-7 {
        width: 58.33%;

    }

    .col-lg-8 {
        width: 66.66%;

    }

    .col-lg-9 {
        width: 75%;

    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {

        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;

    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;

    }

    .col-xl-7 {
        width: 58.33%;

    }

    .col-xl-8 {
        width: 66.66%;

    }

    .col-xl-9 {
        width: 75%;

    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {

        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;

    }
}
@media screen and (min-width: 1400px) {
    .col-xxl-1 {
        width: 8.33%;
    }

    .col-xxl-2 {
        width: 16.66%;
    }

    .col-xxl-3 {
        width: 25%;
    }

    .col-xxl-4 {
        width: 33.33%;
    }

    .col-xxl-5 {
        width: 41.66%;
    }

    .col-xxl-6 {
        width: 50%;

    }

    .col-xxl-7 {
        width: 58.33%;

    }

    .col-xxl-8 {
        width: 66.66%;

    }

    .col-xxl-9 {
        width: 75%;

    }

    .col-xxl-10 {
        width: 83.33%;
    }

    .col-xxl-11 {

        width: 91.66%;
    }

    .col-xxl-12 {
        width: 100%;

    }
}
/*end-grid-system*/
/*offset-system*/
@media screen and (max-width: 576px) {
    .offset-0 {
        margin-left: 0;
    }

    .offset-1 {
        margin-left: 8.33%;
    }

    .offset-2 {
        margin-left: 16.66%;
    }

    .offset-3 {
        margin-left: 25%;
    }

    .offset-4 {
        margin-left: 33.33%;
    }

    .offset-5 {
        margin-left: 41.66%;
    }

    .offset-6 {
        margin-left: 50%;

    }

    .offset-7 {
        margin-left: 58.33%;

    }

    .offset-8 {
        margin-left: 66.66%;

    }

    .offset-9 {
        margin-left: 75%;

    }

    .offset-10 {
        margin-left: 83.33%;
    }

    .offset-11 {

        margin-left: 91.66%;
    }

    .offset-12 {
        margin-left: 100%;

    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .offset-sm-0 {
        margin-left: 0;
    }
    .offset-sm-1 {
        margin-left: 8.33%;
    }

    .offset-sm-2 {
        margin-left: 16.66%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33%;
    }

    .offset-sm-5 {
        margin-left: 41.66%;
    }

    .offset-sm-6 {
        margin-left: 50%;

    }

    .offset-sm-7 {
        margin-left: 58.33%;

    }

    .offset-sm-8 {
        margin-left: 66.66%;

    }

    .offset-sm-9 {
        margin-left: 75%;

    }

    .offset-sm-10 {
        margin-left: 83.33%;
    }

    .offset-sm-11 {

        margin-left: 91.66%;
    }

    .offset-sm-12 {
        margin-left: 100%;

    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: 8.33%;
    }

    .offset-md-2 {
        margin-left: 16.66%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33%;
    }

    .offset-md-5 {
        margin-left: 41.66%;
    }

    .offset-md-6 {
        margin-left: 50%;

    }

    .offset-md-7 {
        margin-left: 58.33%;

    }

    .offset-md-8 {
        margin-left: 66.66%;

    }

    .offset-md-9 {
        margin-left: 75%;

    }

    .offset-md-10 {
        margin-left: 83.33%;
    }

    .offset-md-11 {

        margin-left: 91.66%;
    }

    .offset-md-12 {
        margin-left: 100%;

    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.33%;
    }

    .offset-lg-2 {
        margin-left: 16.66%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33%;
    }

    .offset-lg-5 {
        margin-left: 41.66%;
    }

    .offset-lg-6 {
        margin-left: 50%;

    }

    .offset-lg-7 {
        margin-left: 58.33%;

    }

    .offset-lg-8 {
        margin-left: 66.66%;

    }

    .offset-lg-9 {
        margin-left: 75%;

    }

    .offset-lg-10 {
        margin-left: 83.33%;
    }

    .offset-lg-11 {

        margin-left: 91.66%;
    }

    .offset-lg-12 {
        margin-left: 100%;

    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .offset-xl-0 {
        margin-left: 0;
    }
    .offset-xl-1 {
        margin-left: 8.33%;
    }

    .offset-xl-2 {
        margin-left: 16.66%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33%;
    }

    .offset-xl-5 {
        margin-left: 41.66%;
    }

    .offset-xl-6 {
        margin-left: 50%;

    }

    .offset-xl-7 {
        margin-left: 58.33%;

    }

    .offset-xl-8 {
        margin-left: 66.66%;

    }

    .offset-xl-9 {
        margin-left:  75%;

    }

    .offset-xl-10 {
        margin-left: 83.33%;
    }

    .offset-xl-11 {

        margin-left: 91.66%;
    }

    .offset-xl-12 {
        margin-left: 100%;

    }
}
@media screen and (min-width: 1400px) {
    .offset-xxl-0 {
        margin-left: 0;
    }

    .offset-xxl-1 {
        margin-left: 8.33%;
    }

    .offset-xxl-2 {
        margin-left: 16.66%;
    }

    .offset-xxl-3 {
        margin-left: 25%;
    }

    .offset-xxl-4 {
        margin-left: 33.33%;
    }

    .offset-xxl-5 {
        margin-left: 41.66%;
    }

    .offset-xxl-6 {
        margin-left: 50%;

    }

    .offset-xxl-7 {
        margin-left: 58.33%;

    }

    .offset-xxl-8 {
        margin-left: 66.66%;

    }

    .offset-xxl-9 {
        margin-left: 75%;

    }

    .offset-xxl-10 {
        margin-left: 83.33%;
    }

    .offset-xxl-11 {

        margin-left: 91.66%;
    }

    .offset-xxl-12 {
        margin-left: 100%;

    }
}
/*End-offset-system*/
.container-fluid {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class^="col-"] {
    float: left;
    padding: 0 15px;
}
.bg-primary {
    background-color: #0D6EFD;
}
.bg-secondary {
    background-color: #6C757D;
}
.bg-success {
    background-color: #198754;
}
.bg-danger {
    background-color: #DC3545;
}
.bg-warning {
    background-color: #FFC107;
}
.bg-info {
    background-color: #0DCAF0;
}
.bg-light {
    background-color: #F8F9FA;
}
.bg-dark {
    background-color: #212529;
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-transparent {
    background-color: transparent;
}
.h-100 {
    height: 100vh;
}
.h-50 {
    height: 50vh;
}
.h-25 {
    height: 25vh;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.img-responsive{
    width: 100%;
    height: auto;
}
